*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* select only first and last element to apply style */
/* .phone>ol>li:first-child {
    color: blue;
} */
/* .phone {
    color: rgb(255, 4, 213);
} */
/* .phone>ol>li:last-child {
    color: red;
} */
/* speceficity creates priority according to value */
/* id has has highest priority with specefic targets */
/* #image {
    width: 7em;
} */
/* a:link {
    color: khaki
}
a:visited {
    color: rgb(0, 255, 0);
}
a:hover {
    font-size: 18px;
    color: firebrick;
}
a:active {
    border: 2px solid green;
    color: rgb(255, 5, 5);
}
/* class has mid priority as it is a grouping */
/* .elements {
    background-color: red;
}
ul {
    background-color: blue !important;
} */
html {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
/* psuedo selector before & after */
/* h2::after { */
    /* content: "|";
    background-color: blue; */
/* } */
/* h2::before { */
    /* content: "|";
    background-color: blue; */
/* } */
/* psuedo selector styling only p & then first line */
/* h2::first-letter {
    background-color: aqua;
    padding: 0 2px;
} */
/* h2::first-line {
    padding: 2px 2px;
    color: blueviolet;
} */
/* apply text shadow on h2 using after */
div::after, h2 {
}
/* icon */
/* element is lowest priority */
/* i {
    margin: 0 10px 0 0;
    border-radius: 0;
    background-color: white;
} */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list {
    display: flex;
    gap: 5rem;
}
.brand {
    display: flex;
    background-color: indigo;
    color: lawngreen;
    gap: 5rem;
    flex-direction: row-reverse;
}
.elements {
    
}